
*.a
*.app
book/output/
# Compiled Lua sources
# Coverage artifacts
*.def
*.dll
*.dylib
*.elf
*.exe
# Executables
*.exp
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
# Libraries
*.lo
luac.out
luacov.report.out
luacov.stats.out
# luarocks build files
# mdBook output
*.o
*.obj
# Object files
*.os
*.out
*.pch
.pmat/
# PMAT
# Precompiled Headers
reference/
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.src.rock
*.tar.gz
*.x86_64
*.zip
